* {
font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {

}

.header {
position: fixed;
}

.header h1 {

}

.header div {

}

a {
    display: inline;
}

.content {
    margin-top: 100px;
}

.old-telephone {

}

.contact-form {

}

.footer {

}

.footer h2 {
    
}