* {
font-family:'Times New Roman', Times, serif;
}

body {
background-color: rgb(133, 172, 216);
}

.header {
padding: 60px;
  text-align: center;
  background: #637585;
  color: white;
  font-size: 30px;
}

.header h1 {

}

.header div ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

a {
    display: inline;
}

.content {
    
}

.old-telephone {
}

figcaption {
}

.contact-form {

}

.footer {

}

.footer h2 {
    
}